In [1]:
people = {
    'name' : ['Aslan', 'Zhuldyz', 'Azamat', 'Kamila'],
    'surname' : ['Tolegazinov', 'Gabitova', 'Bolatov', 'Hamitova'],
    'email' : ['aslan.tol@gamil.com', 'zhuldyz99@gmail.com', 'azamat.g@mail.ru', 'kami.hamitova@yandex.ru']
}

In [2]:
import pandas as pd

In [3]:
people['name']

['Aslan', 'Zhuldyz', 'Azamat', 'Kamila']

In [4]:
df = pd.DataFrame(people)

In [5]:
df

      name      surname                    email
0    Aslan  Tolegazinov      aslan.tol@gamil.com
1  Zhuldyz     Gabitova      zhuldyz99@gmail.com
2   Azamat      Bolatov         azamat.g@mail.ru
3   Kamila     Hamitova  kami.hamitova@yandex.ru

In [11]:
df['name']

0      Aslan
1    Zhuldyz
2     Azamat
3     Kamila
Name: name, dtype: object

In [12]:
df.name

0      Aslan
1    Zhuldyz
2     Azamat
3     Kamila
Name: name, dtype: object

In [15]:
df['surname']

0    Tolegazinov
1       Gabitova
2        Bolatov
3       Hamitova
Name: surname, dtype: object

In [17]:
df

      name      surname                    email
0    Aslan  Tolegazinov      aslan.tol@gamil.com
1  Zhuldyz     Gabitova      zhuldyz99@gmail.com
2   Azamat      Bolatov         azamat.g@mail.ru
3   Kamila     Hamitova  kami.hamitova@yandex.ru

In [18]:
df[['name', 'email']]

      name                    email
0    Aslan      aslan.tol@gamil.com
1  Zhuldyz      zhuldyz99@gmail.com
2   Azamat         azamat.g@mail.ru
3   Kamila  kami.hamitova@yandex.ru

In [19]:
df.iloc[0]

name                     Aslan
surname            Tolegazinov
email      aslan.tol@gamil.com
Name: 0, dtype: object

In [20]:
df

      name      surname                    email
0    Aslan  Tolegazinov      aslan.tol@gamil.com
1  Zhuldyz     Gabitova      zhuldyz99@gmail.com
2   Azamat      Bolatov         azamat.g@mail.ru
3   Kamila     Hamitova  kami.hamitova@yandex.ru

In [27]:
df.iloc[[1,2], 2]

1    zhuldyz99@gmail.com
2       azamat.g@mail.ru
Name: email, dtype: object

In [29]:
df.iloc[0]

name                     Aslan
surname            Tolegazinov
email      aslan.tol@gamil.com
Name: 0, dtype: object

In [30]:
df

      name      surname                    email
0    Aslan  Tolegazinov      aslan.tol@gamil.com
1  Zhuldyz     Gabitova      zhuldyz99@gmail.com
2   Azamat      Bolatov         azamat.g@mail.ru
3   Kamila     Hamitova  kami.hamitova@yandex.ru

In [31]:
df.loc[0]

name                     Aslan
surname            Tolegazinov
email      aslan.tol@gamil.com
Name: 0, dtype: object

In [6]:
df.loc[[2,3], ['email', 'surname']]

                     email   surname
2         azamat.g@mail.ru   Bolatov
3  kami.hamitova@yandex.ru  Hamitova

In [36]:
df.loc[[2,3], ['name']]

     name
2  Azamat
3  Kamila

In [38]:
df.loc[[2,3], ['surname']]

    surname
2   Bolatov
3  Hamitova

In [10]:
data = pd.read_csv('survey_results_public.csv')

In [12]:
data.shape

(472, 85)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472 entries, 0 to 471
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              472 non-null    int64
 1   MainBranch              472 non-null    object
 2   Hobbyist                472 non-null    object
 3   OpenSourcer             472 non-null    object
 4   OpenSource              463 non-null    object
 5   Employment              465 non-null    object
 6   Country                 472 non-null    object
 7   Student                 463 non-null    object
 8   EdLevel                 460 non-null    object
 9   UndergradMajor          401 non-null    object
 10  EduOther                445 non-null    object
 11  OrgSize                 392 non-null    object
 12  DevType                 450 non-null    object
 13  YearsCode               468 non-null    object
 14  Age1stCode              465 non-null    object
 15  YearsCodePro            403 non-null    object
 16  CareerSat               399 non-null    object
 17  JobSat                  391 non-null    object
 18  MgrIdiot                337 non-null    object
 19  MgrMoney                337 non-null    object
 20  MgrWant                 337 non-null    object
 21  JobSeek                 440 non-null    object
 22  LastHireDate            438 non-null    object
 23  LastInt                 360 non-null    object
 24  FizzBuzz                391 non-null    object
 25  JobFactors              436 non-null    object
 26  ResumeUpdate            424 non-null    object
 27  CurrencySymbol          391 non-null    object
 28  CurrencyDesc            391 non-null    object
 29  CompTotal               310 non-null    float64
 30  CompFreq                345 non-null    object
 31  ConvertedComp           309 non-null    float64
 32  WorkWeekHrs             355 non-null    float64
 33  WorkPlan                381 non-null    object
 34  WorkChallenge           374 non-null    object
 35  WorkRemote              389 non-null    object
 36  WorkLoc                 386 non-null    object
 37  ImpSyn                  397 non-null    object
 38  CodeRev                 390 non-null    object
 39  CodeRevHrs              272 non-null    float64
 40  UnitTests               342 non-null    object
 41  PurchaseHow             337 non-null    object
 42  PurchaseWhat            339 non-null    object
 43  LanguageWorkedWith      467 non-null    object
 44  LanguageDesireNextYear  445 non-null    object
 45  DatabaseWorkedWith      406 non-null    object
 46  DatabaseDesireNextYear  358 non-null    object
 47  PlatformWorkedWith      421 non-null    object
 48  PlatformDesireNextYear  401 non-null    object
 49  WebFrameWorkedWith      353 non-null    object
 50  WebFrameDesireNextYear  329 non-null    object
 51  MiscTechWorkedWith      316 non-null    object
 52  MiscTechDesireNextYear  340 non-null    object
 53  DevEnviron              465 non-null    object
 54  OpSys                   470 non-null    object
 55  Containers              459 non-null    object
 56  BlockchainOrg           262 non-null    object
 57  BlockchainIs            305 non-null    object
 58  BetterLife              457 non-null    object
 59  ITperson                464 non-null    object
 60  OffOn                   462 non-null    object
 61  SocialMedia             451 non-null    object
 62  Extraversion            463 non-null    object
 63  ScreenName              421 non-null    object
 64  SOVisit1st              447 non-null    object
 65  SOVisitFreq             470 non-null    object
 66  SOVisitTo               468 non-null    object
 67  SOFindAnswer            467 non-null    object
 68  SOTimeSaved             455 non-null    object
 69  SOHowMuchTime           358 non-null    object
 70  SOAccount               465 non-null    object
 71  SOPartFreq              401 non-null    object
 72  SOJobs                  469 non-null    object
 73  EntTeams                467 non-null    object
 74  SOComm                  468 non-null    object
 75  WelcomeChange           454 non-null    object
 76  SONewContent            371 non-null    object
 77  Age                     429 non-null    float64
 78  Gender                  455 non-null    object
 79  Trans                   441 non-null    object
 80  Sexuality               414 non-null    object
 81  Ethnicity               400 non-null    object
 82  Dependents              443 non-null    object
 83  SurveyLength            460 non-null    object
 84  SurveyEase              461 non-null    object
dtypes: float64(5), int64(1), object(79)
memory usage: 313.6+ KB

In [14]:
data.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [15]:
data['Hobbyist']

0      Yes
1       No
2      Yes
3       No
4      Yes
      ...
467     No
468    Yes
469    Yes
470    Yes
471    Yes
Name: Hobbyist, Length: 472, dtype: object

In [19]:
data.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [20]:
data.loc[1:2, 'Country']

1    Bosnia and Herzegovina
2                  Thailand
Name: Country, dtype: object

In [21]:
data.loc[2:4, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time
4,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time

In [22]:
df

      name      surname                    email
0    Aslan  Tolegazinov      aslan.tol@gamil.com
1  Zhuldyz     Gabitova      zhuldyz99@gmail.com
2   Azamat      Bolatov         azamat.g@mail.ru
3   Kamila     Hamitova  kami.hamitova@yandex.ru

In [23]:
df['email']

0        aslan.tol@gamil.com
1        zhuldyz99@gmail.com
2           azamat.g@mail.ru
3    kami.hamitova@yandex.ru
Name: email, dtype: object

In [25]:
df.set_index('email')

                            name      surname
email
aslan.tol@gamil.com        Aslan  Tolegazinov
zhuldyz99@gmail.com      Zhuldyz     Gabitova
azamat.g@mail.ru          Azamat      Bolatov
kami.hamitova@yandex.ru   Kamila     Hamitova

In [36]:
df.set_index('email')

KeyError: "None of ['email'] are in the columns"

In [28]:
df

                            name      surname
email
aslan.tol@gamil.com        Aslan  Tolegazinov
zhuldyz99@gmail.com      Zhuldyz     Gabitova
azamat.g@mail.ru          Azamat      Bolatov
kami.hamitova@yandex.ru   Kamila     Hamitova

In [29]:
df.loc['kami.hamitova@yandex.ru']

name         Kamila
surname    Hamitova
Name: kami.hamitova@yandex.ru, dtype: object

In [37]:
df.set_index('name', inplace= True)

KeyError: "None of ['name'] are in the columns"

In [38]:
df

             surname
name
Aslan    Tolegazinov
Zhuldyz     Gabitova
Azamat       Bolatov
Kamila      Hamitova

In [39]:
df.loc('kami.hamitova@yandex.ru')

ValueError: No axis named kami.hamitova@yandex.ru for object type <class 'pandas.core.frame.DataFrame'>