In [1]:
people = {
    'name' : ['Aslan', 'Zhuldyz', 'Azamat', 'Kamila'],
    'surname' : ['Tolegazinov', 'Gabitova', 'Bolatov', 'Hamitova'],
    'email' : ['aslan.tol@gamil.com', 'zhuldyz99@gmail.com', 'azamat.g@mail.ru', 'kami.hamitova@yandex.ru']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      name      surname                    email
0    Aslan  Tolegazinov      aslan.tol@gamil.com
1  Zhuldyz     Gabitova      zhuldyz99@gmail.com
2   Azamat      Bolatov         azamat.g@mail.ru
3   Kamila     Hamitova  kami.hamitova@yandex.ru

In [5]:
df.set_index('surname', inplace=True)

In [6]:
df.index

Index(['Tolegazinov', 'Gabitova', 'Bolatov', 'Hamitova'], dtype='object', name='surname')

In [7]:
df

                name                    email
surname
Tolegazinov    Aslan      aslan.tol@gamil.com
Gabitova     Zhuldyz      zhuldyz99@gmail.com
Bolatov       Azamat         azamat.g@mail.ru
Hamitova      Kamila  kami.hamitova@yandex.ru

In [8]:
df.loc['Tolegazinov']

name                   Aslan
email    aslan.tol@gamil.com
Name: Tolegazinov, dtype: object

In [9]:
df.loc['Tolegazinov', 'email']

'aslan.tol@gamil.com'

In [10]:
df.iloc[0]

name                   Aslan
email    aslan.tol@gamil.com
Name: Tolegazinov, dtype: object

In [11]:
df.reset_index(inplace = True)

In [12]:
df

       surname     name                    email
0  Tolegazinov    Aslan      aslan.tol@gamil.com
1     Gabitova  Zhuldyz      zhuldyz99@gmail.com
2      Bolatov   Azamat         azamat.g@mail.ru
3     Hamitova   Kamila  kami.hamitova@yandex.ru

In [13]:
df.iloc[0]

surname            Tolegazinov
name                     Aslan
email      aslan.tol@gamil.com
Name: 0, dtype: object

In [17]:
import pandas as pd
df_public = pd.read_csv('survey_results_public.csv', index_col='Respondent')
df_schema = pd.read_csv('survey_results_schema.csv', index_col= 'Column')

In [21]:
df_public['MgrIdiot']

Respondent
1                         NaN
2                         NaN
3        Not at all confident
4              Very confident
5          Somewhat confident
                 ...
26615          Very confident
26617      Somewhat confident
26618    Not at all confident
26619      Somewhat confident
26620    Not at all confident
Name: MgrIdiot, Length: 26466, dtype: object

In [18]:
df_schema.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [23]:
df_schema.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [25]:
df_schema.sort_index(ascending = False, )

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]

In [26]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]